.footer {
  color: var(--white);
  text-align: center;
}

.footer-logo {
  display: none
}

.footer .social {
  padding: 0;
  padding-block-start: 40px;
  justify-content: center;
}

@media screen and (min-width:768px) {

  .footer-logo {
    display: block;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer .social {
    order: 3;
  }
}

@media screen and (min-width:1024px) {
  .footer-copyright {
    display: flex;
    gap: 8px;
  }

  .footer {
    padding-block-start: 40px;
    padding-block-end: 40px;
  }
}