.tittle {
  background: var(--purple);
  align-self: flex-start;
  color: var(--white);
  font: var(--headline5);
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  margin-inline-start: 4px;
  margin-block-start: 40px;
  box-shadow: -4px 4px 0px #FFFFFF;
  text-align: center;
}